@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

a {
  font-size: 20px;
  font-weight: 500;
  color: #dfdbd3;
  text-decoration: none;
}

a h3 {
  font-size: 20px;
}

h1 {
  font-size: 33px;
  line-height: 33px;
  font-weight: 500;
  color: #f3f3f4;
}

h2 {
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #f3f3f4;
}

h3 {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #dfdbd3;
}

h4 {
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 1px;
  font-weight: 300;
}

h5 {
  font-size: 12px;
  color: #6f8a99;
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #dfdbd3;
}

@media screen and (min-width: 1590px) {
  a {
    font-size: 24px;
  }
  a h3 {
    font-size: 24px;
  }
  h1 {
    font-size: 38px;
    line-height: 38px;
  }
  h2 {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1.5px;
  }
  h3 {
    font-size: 27px;
    line-height: 27px;
    letter-spacing: 1px;
  }
  h4 {
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 1px;
  }
  h5 {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  p {
    font-size: 20px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1400px) {
  a {
    font-size: 16px;
    font-weight: 500;
  }
  a h3 {
    font-size: 16px;
  }
  h1 {
    font-size: 29px;
    line-height: 29px;
  }
  h2 {
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  h4 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  h5 {
    font-size: 10px;
  }
  p {
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1000px) {
  a {
    font-size: 14px;
    font-weight: 500;
  }
  a h3 {
    font-size: 14px;
  }
  h1 {
    font-size: 27px;
    line-height: 27px;
  }
  h2 {
    font-size: 19px;
    line-height: 19px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  h4 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
  }
  h5 {
    font-size: 10px;
  }
  p {
    font-size: 12px;
    font-weight: 400;
  }
}

@media screen and (max-width: 600px) {
  h5 {
    font-size: 9px;
    letter-spacing: normal;
  }
  h2 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 400;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

a {
  font-size: 20px;
  font-weight: 500;
  color: #dfdbd3;
  text-decoration: none;
}

a h3 {
  font-size: 20px;
}

h1 {
  font-size: 33px;
  line-height: 33px;
  font-weight: 500;
  color: #f3f3f4;
}

h2 {
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #f3f3f4;
}

h3 {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #dfdbd3;
}

h4 {
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 1px;
  font-weight: 300;
}

h5 {
  font-size: 12px;
  color: #6f8a99;
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #dfdbd3;
}

@media screen and (min-width: 1590px) {
  a {
    font-size: 24px;
  }
  a h3 {
    font-size: 24px;
  }
  h1 {
    font-size: 38px;
    line-height: 38px;
  }
  h2 {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1.5px;
  }
  h3 {
    font-size: 27px;
    line-height: 27px;
    letter-spacing: 1px;
  }
  h4 {
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 1px;
  }
  h5 {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  p {
    font-size: 20px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1400px) {
  a {
    font-size: 16px;
    font-weight: 500;
  }
  a h3 {
    font-size: 16px;
  }
  h1 {
    font-size: 29px;
    line-height: 29px;
  }
  h2 {
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  h4 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  h5 {
    font-size: 10px;
  }
  p {
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1000px) {
  a {
    font-size: 14px;
    font-weight: 500;
  }
  a h3 {
    font-size: 14px;
  }
  h1 {
    font-size: 27px;
    line-height: 27px;
  }
  h2 {
    font-size: 19px;
    line-height: 19px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  h4 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
  }
  h5 {
    font-size: 10px;
  }
  p {
    font-size: 12px;
    font-weight: 400;
  }
}

@media screen and (max-width: 600px) {
  h5 {
    font-size: 9px;
    letter-spacing: normal;
  }
  h2 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 400;
  }
}

.navbar-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-gap: 0.5rem;
  border: 1px solid #0c2a3a;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  padding: 1rem;
}

.navbar-container h2 {
  font-weight: 600;
}

.navbar-container h2 span {
  color: #c1436d;
}

.pages {
  width: 80%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-gap: 0.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-gap: 1.5rem;
}

.page {
  cursor: pointer;
  color: #dfdbd3;
  width: 100%;
  margin-right: auto;
  text-align: left;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: transparent;
  border: transparent;
}

.page h3 {
  width: 100%;
  line-height: 2rem;
  border-bottom: 1px solid #dfdbd3;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.subpage {
  position: relative;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 100%;
  margin-top: 10px;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.subpage p {
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  border-bottom: 1px solid #0c2a3a;
  line-height: 2rem;
}

.subpage p:hover {
  color: #0c2a3a;
}

.subpage p:focus {
  color: #0c2a3a;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0.5rem;
  grid-gap: 1rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0.5rem;
  grid-gap: 1rem;
}

.menu-btn {
  display: none;
}

.social-btn {
  position: relative;
}

.social-btn img {
  width: 32px;
  height: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

@media screen and (min-width: 1590px) {
  .pages {
    grid-gap: 2rem;
  }
}

@media screen and (max-width: 1400px) {
  .pages {
    grid-gap: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .navbar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    grid-gap: 0.5rem;
    padding: 0.5rem;
  }
  .pages {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 0.5rem;
  }
  .page {
    text-align: center;
  }
  .page h3 {
    width: 70px;
    line-height: 1rem;
    height: 1.2rem;
  }
  .subpage {
    position: absolute;
    left: 50%;
    top: 3rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 10;
    background-color: #6f8a99;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .subpage p {
    line-height: 1.5rem;
  }
  .socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 0.5rem;
    grid-gap: 0.2rem;
  }
  .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 0.5rem;
    grid-gap: 1rem;
  }
  .social-btn img {
    width: 30px;
    height: 30px;
  }
  .power {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .menu-btn {
    position: relative;
    cursor: pointer;
    display: block;
    background-color: #0c2a3a;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 0.5rem;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .menu-btn img {
    width: 100%;
    height: 100%;
    padding: 5px;
    -o-object-position: center;
       object-position: center;
  }
  .menu-btn:hover {
    background-color: #085074c9;
  }
  .submenu-container {
    position: absolute;
    right: 1rem;
    top: 5rem;
    border-radius: 0.5rem;
    width: calc(100vw - 2rem);
    background-color: #0c2a3a;
    z-index: 2;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    grid-gap: 0.5rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .submenu-link {
    width: 100%;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    grid-gap: 0.5rem;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .submenu-link h3 {
    text-align: right;
    width: 100%;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #dfdbd3;
    font-weight: 300px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
  }
  .submenu-link h3:hover {
    font-weight: 700;
  }
  .submenu-link h3:focus {
    font-weight: 700;
  }
  .submenu-sublink p {
    text-align: right;
  }
  .pages {
    display: none;
  }
  .social {
    grid-gap: 0.5rem;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

a {
  font-size: 20px;
  font-weight: 500;
  color: #dfdbd3;
  text-decoration: none;
}

a h3 {
  font-size: 20px;
}

h1 {
  font-size: 33px;
  line-height: 33px;
  font-weight: 500;
  color: #f3f3f4;
}

h2 {
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #f3f3f4;
}

h3 {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #dfdbd3;
}

h4 {
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 1px;
  font-weight: 300;
}

h5 {
  font-size: 12px;
  color: #6f8a99;
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #dfdbd3;
}

@media screen and (min-width: 1590px) {
  a {
    font-size: 24px;
  }
  a h3 {
    font-size: 24px;
  }
  h1 {
    font-size: 38px;
    line-height: 38px;
  }
  h2 {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1.5px;
  }
  h3 {
    font-size: 27px;
    line-height: 27px;
    letter-spacing: 1px;
  }
  h4 {
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 1px;
  }
  h5 {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  p {
    font-size: 20px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1400px) {
  a {
    font-size: 16px;
    font-weight: 500;
  }
  a h3 {
    font-size: 16px;
  }
  h1 {
    font-size: 29px;
    line-height: 29px;
  }
  h2 {
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  h4 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  h5 {
    font-size: 10px;
  }
  p {
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1000px) {
  a {
    font-size: 14px;
    font-weight: 500;
  }
  a h3 {
    font-size: 14px;
  }
  h1 {
    font-size: 27px;
    line-height: 27px;
  }
  h2 {
    font-size: 19px;
    line-height: 19px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  h4 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
  }
  h5 {
    font-size: 10px;
  }
  p {
    font-size: 12px;
    font-weight: 400;
  }
}

@media screen and (max-width: 600px) {
  h5 {
    font-size: 9px;
    letter-spacing: normal;
  }
  h2 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 400;
  }
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0.5rem;
  position: relative;
  height: 100%;
  max-height: 100vh;
  overflow-y: scroll;
  width: 100%;
  border: 1px solid #0c2a3a;
  border-radius: 0.5rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.content-container::-webkit-scrollbar {
  width: 0px;
}

.content-container::-webkit-scrollbar-track {
  background-color: clr-1;
}

.home-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-gap: 0.5rem;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 100%;
  height: 100%;
}

.myprofile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-gap: 0.5rem;
}

.myprofile-container img {
  margin-top: 3rem;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 3px solid #0c2a3a;
}

.myprojects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0.5rem;
  line-height: 1rem;
}

.myprojects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0.5rem;
  grid-gap: 3rem;
}

.project-link {
  background-color: transparent;
  border-radius: 0.5rem;
  overflow: hidden;
  border: transparent;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0.5rem;
  grid-gap: 0;
}

.project-link-btn {
  position: relative;
  width: 220px;
  height: auto;
  overflow: hidden;
  cursor: pointer;
}

.project-link-btn img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-link-btn h3 {
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  white-space: nowrap;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0.5rem;
  background-color: #085074c9;
}

.project-link-btn:hover h3 {
  opacity: 1;
}

.project-link-link {
  width: 100%;
  height: 60px;
  background-color: #085074c9;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0.5rem;
}

.project-link-link:hover {
  background-color: #0c2a3a;
}

.project-link-link:hover p {
  color: #f3f3f4;
}

@media screen and (min-width: 1590px) {
  .home-container {
    grid-gap: 4rem;
  }
  .myprojects {
    grid-gap: 5rem;
  }
  .project-link-btn {
    width: 300px;
  }
}

@media screen and (max-width: 1400px) {
  .myprofile-container img {
    width: 150px;
    height: 150px;
  }
  .project-link-btn {
    width: 180px;
  }
  .project-link-link {
    height: 40px;
  }
}

@media screen and (max-width: 800px) {
  .myprofile-container img {
    margin-top: 20px;
    width: 120px;
    height: 120px;
  }
}

@media screen and (max-width: 600px) {
  .myprojects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 0.5rem;
    grid-gap: 1rem;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

a {
  font-size: 20px;
  font-weight: 500;
  color: #dfdbd3;
  text-decoration: none;
}

a h3 {
  font-size: 20px;
}

h1 {
  font-size: 33px;
  line-height: 33px;
  font-weight: 500;
  color: #f3f3f4;
}

h2 {
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: #f3f3f4;
}

h3 {
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 1px;
  font-weight: 300;
  color: #dfdbd3;
}

h4 {
  font-size: 19px;
  line-height: 22px;
  letter-spacing: 1px;
  font-weight: 300;
}

h5 {
  font-size: 12px;
  color: #6f8a99;
  font-weight: 400;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
  font-weight: 400;
  color: #dfdbd3;
}

@media screen and (min-width: 1590px) {
  a {
    font-size: 24px;
  }
  a h3 {
    font-size: 24px;
  }
  h1 {
    font-size: 38px;
    line-height: 38px;
  }
  h2 {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 1.5px;
  }
  h3 {
    font-size: 27px;
    line-height: 27px;
    letter-spacing: 1px;
  }
  h4 {
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 1px;
  }
  h5 {
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
  }
  p {
    font-size: 20px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1400px) {
  a {
    font-size: 16px;
    font-weight: 500;
  }
  a h3 {
    font-size: 16px;
  }
  h1 {
    font-size: 29px;
    line-height: 29px;
  }
  h2 {
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  h4 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  h5 {
    font-size: 10px;
  }
  p {
    font-size: 14px;
    font-weight: 400;
  }
}

@media screen and (max-width: 1000px) {
  a {
    font-size: 14px;
    font-weight: 500;
  }
  a h3 {
    font-size: 14px;
  }
  h1 {
    font-size: 27px;
    line-height: 27px;
  }
  h2 {
    font-size: 19px;
    line-height: 19px;
    letter-spacing: 1px;
  }
  h3 {
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0.5px;
  }
  h4 {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
  }
  h5 {
    font-size: 10px;
  }
  p {
    font-size: 12px;
    font-weight: 400;
  }
}

@media screen and (max-width: 600px) {
  h5 {
    font-size: 9px;
    letter-spacing: normal;
  }
  h2 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0px;
    font-weight: 400;
  }
}

.about-container,
.project-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-gap: 0.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-gap: 0.5rem;
  padding: 2rem;
}

.about-container h1,
.project-container h1 {
  width: 100%;
}

.about-container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0.5rem;
  grid-gap: 2rem;
}

.about-container-header img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 3px solid #0c2a3a;
}

.about-container-header h3 {
  font-weight: 300;
  line-height: 1.5rem;
  width: 100%;
  white-space: normal;
}

.about-container-header.project {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.line {
  height: 0.5px;
  display: block;
  width: 100%;
  background-color: #0c2a3a;
  margin-top: 0.5rem;
}

.tools {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-gap: 0.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-gap: 2rem;
}

.tool-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  grid-gap: 0.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-gap: 1rem;
}

.tool {
  width: 100%;
  max-width: 50rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

.project-images-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 0.5rem;
  grid-gap: 2rem;
  margin-top: 2rem;
}

.images {
  border-radius: 0.5rem;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.text a {
  font-size: 16px;
  font-weight: 500;
  color: #c1436d;
}

@media screen and (min-width: 1590px) {
  .project-images-container {
    grid-gap: 5rem;
    margin-top: 5rem;
  }
  .images {
    height: 300px;
  }
}

@media screen and (max-width: 1400px) {
  .project-images-container {
    grid-gap: 2rem;
    margin-top: 2rem;
  }
  .images {
    height: 175px;
  }
  .about-container,
  .project-container {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 1000px) {
  .project-images-container {
    grid-gap: 1rem;
    margin-top: 1rem;
  }
  .images {
    height: 170px;
  }
  .about-container,
  .project-container {
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .about-container-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-gap: 0.5rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    grid-gap: 1rem;
  }
  .about-container-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border: 3px solid #0c2a3a;
  }
  .about-container-header h3 {
    font-weight: 300;
    line-height: 1.5rem;
    width: 100%;
    white-space: normal;
  }
  .about-container-header.project {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .project-images-container {
    margin-top: 0;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .images {
    width: 100%;
  }
  .images.img-0 {
    width: 200%;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-row: 1;
    grid-row: 1;
  }
  .images.img-1 {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-row: 2;
    grid-row: 2;
  }
  .images.img-2 {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -ms-grid-row: 2;
    grid-row: 2;
  }
}

.main-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-gap: 1rem;
  color: #dfdbd3;
  padding: 1rem;
}

.main-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.main-background img {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.main-background .color {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #0c2a3a;
  opacity: 0.85;
  mix-blend-mode: hard-light;
  z-index: 1;
}

.footer {
  position: absolute;
  bottom: 0.5rem;
  right: 3rem;
}

@media screen and (max-width: 800px) {
  .main-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 10fr;
        grid-template-rows: 1fr 10fr;
  }
}
/*# sourceMappingURL=index.css.map */